// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/utilities";

$theme-colors: (
  "primary": #fdc886,
  "secondary": #5a4fcf,
  "danger": #f2f2f2,
  "indigo": #5a4fcf,
  "muted": #858585,
  "warning": #ffb800,
  "black": #232631,
  "success": #fff4e7,
);

$position-values: (
  0: 0,
  5: 5%,
  8: 8%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  40: 40%,
  50: 50%,
  80: 80%,
  87: 87%,
  90: 90%,
  95: 95%,
  100: 100%,
);

$font-weight-normal: 500;
$font-weight-semibold: 600;

@import "../node_modules/bootstrap/scss/bootstrap";
